<!DOCTYPE html>
<html>
<head>
    <title>Quiz App</title>
    <style>
        body {
            position: relative;
            min-height: 100vh;
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
        }

        form {
            padding-bottom: 60px; /* Additional space for form */
        }

        form h2 {
            font-size: 16px; /* Adjust this value to set your desired font size */
        }
    </style>
</head>
<body>
    <h1>Quiz</h1>
    <form method="POST">
        <!-- Question about the user's name -->
        <h2>Question 1: What is your name?</h2>
        <input type="text" name="username">

        <!-- First question with multiple choice -->
        <h2>Question 2: Which library is commonly used for data processing and analysis when training an AI model in Python?</h2>
        <input type="radio" name="question1" value="TensorFlow"> TensorFlow<br>
        <input type="radio" name="question1" value="Pandas"> Pandas<br>
        <input type="radio" name="question1" value="Matplotlib"> Matplotlib<br>
        <input type="radio" name="question1" value="Flask"> Flask<br>

        <!-- Second question with multiple choice -->
        <h2>Question 3: Which Python library is most commonly used for image processing and analysis in computer vision projects?</h2>
        <input type="radio" name="question2" value="NumPy"> NumPy<br>
        <input type="radio" name="question2" value="OpenCV"> OpenCV<br>
        <input type="radio" name="question2" value="Scikit-Learn"> Scikit-Learn<br>
        <input type="radio" name="question2" value="Pillow"> Pillow<br>

       <!-- Third question with multiple choice -->
       <h2>Question 3: Which Python library is most commonly used for analyzing and processing text data in Natural Language Processing (NLP) applications?</h2>
       <input type="radio" name="question3" value="NLTK"> NLTK<br>
       <input type="radio" name="question3" value="NumPy"> NumPy<br>
       <input type="radio" name="question3" value="Scikit-Learn"> Scikit-Learn<br>
       <input type="radio" name="question3" value="Matplotlib"> Matplotlib<br>

       <!-- Fourth question with multiple choice -->
       <h2>Question 4: Which Python library is most commonly used for developing and implementing machine learning and deep learning models?</h2>
       <input type="radio" name="question4" value="Matplotlib"> Matplotlib<br>
       <input type="radio" name="question4" value="TensorFlow"> TensorFlow<br>
       <input type="radio" name="question4" value="Flask"> Flask<br>
       <input type="radio" name="question4" value="Pandas"> Pandas<br>


        <br>
        <input type="submit" value="Submit Answers">

        <!-- User's best score in the top right corner -->
        <div style="position: absolute; top: 10px; right: 10px;">
            <p>Best Score: {{ best_score.score if best_score else 0 }}%</p>

            {% if score is not none %}
            <p>Your Score: {{ score }} %</p>  <!-- Current user score -->
            {% endif %}
        </div>
    </form>

    <!-- Footer with information about the author -->
    <footer>
        Author: Umut Can Top
    </footer>
</body>
</html>